@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your Tailwind CSS classes here */

/* To make the pop-up visible when it's shown */
.show-popup {
    display: flex;
  }
  
  /* Transition for the popup */
  #popupContainer {
    transition: opacity 0.3s ease;
  }
  
  /* Fade-in effect when the popup becomes visible */
  #popupContainer.show-popup {
    opacity: 1;
  }
  
  /* Fade-out effect when the popup becomes hidden */
  #popupContainer:not(.show-popup) {
    opacity: 0;
  }
  .group:hover i {
    transition: transform 0.3s ease-in-out;
    transform: translateX(4px);
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 200px;
    /* background-color: black; */
    color: black;
    text-align: center;
    border-radius: 6px;
    /* padding: 5px; */
    position: absolute;
    z-index: 1;
    top: 50%; /* Adjust this value to position the tooltip vertically */
    right: calc(10% + 10px); /* Position the tooltip to the left of the icon */
    transform: translateY(-50%);
    transition: opacity 0.3s ease;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


  @keyframes right-move {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px); /* Adjust this value to control the height of the animation */
    }
    100% {
      transform: translateY(0);
    }
  }

  .animate-right-move {
    animation: right-move 4s cubic-bezier(0.42, 0, 0.58, 1) infinite; /* Adjust the animation duration and bezier values as needed */
  }

  .swal2-popup {
    border-radius: 0; /* Remove rounded edges */
    background-color: white;
    color: black;
}
.swal2-confirm {
  border-radius: 0;
  background-color: black !important; /* Change "OK" button color */
  color: white !important;
  border: none;
}

